body {
    margin: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
header {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
    background-color: rgb(236, 159, 172);
}
.add-task-button {
    background-color: transparent;
    border: none;
    padding: 10px 12px 10px 12px;
}

.add-task-button:hover {
    background-color: white;
    border: none;
    border-radius: 10px;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

sidebar {
    background-color: #eee;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding: 30px 50px 30px 50px;
    gap: 1rem;
}

.inbox, .today, .add-project-button, .button-project {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
    width: 100%;
    border: none;
    padding: 8px;
    font-size: 18px;
    background-color: transparent;
    margin-bottom: 5px;
}

.project-list {
    width: 100%
}

sidebar > button:hover{
    background-color: white;
    border-radius: 5px;
}

.add-project-button:hover,
.button-project:hover {
    background-color: white;
    border-radius: 5px;
}

#content {
    margin: 0 auto;
    width: 70%;
    padding: 30px 50px 30px 50px;
}

#heading {
    font-size: 40px;
    font-weight: bold;
    padding: 0;
}

.project-submit-btn, .project-cancel-btn {
    width: 70px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    padding: 5px;
    font-weight: bold;
}

.project-submit-btn {
    background-color: green;
}

.project-cancel-btn {
    background-color: red;
}

input {
    border: none;
    height: 30px;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
}

#project-form {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    gap: 8px;
}

.hidden { 
    top: 0;
    left: 0;
    pointer-events: none;
    position: absolute;
    opacity: 0;
}

#content {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
}

#task-list li {
    background-color: rgba(255, 240, 240, 0.486);
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    list-style-type: circle;
    margin-bottom: 1rem;

}

#task-list li:hover {
    background-color: rgb(236, 199, 205);
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    transition: .2s;
    margin: 0 auto;
    z-index: 2;
}

.add-task-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 1rem;
    box-shadow:rgb(46 46 46 / 20%) 0px 2px 8px 0px;
    background-color: white;
}

.modal-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: rgb(236, 159, 172);
    padding: 5px 1rem 5px 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    color: white;
}

.model-content {
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
}

.add-task-form {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

label {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
}

.add-task-form #task-name, #task-date, #task-description{
    border: 1px solid grey;
}

.add-task-form #task-description {
    border-radius: 5px;
}

.add-task-form label #task-priority, 
.add-task-form label #task-folder {
    height: 2rem;
}

.add-task-form input[type=submit] {
    background-color: green;
    height: 3rem;
    margin-top: 1rem;
    color: white;
    font-size: 1rem;
}
.description-detail {
    padding-top: 10px;
    font-size: smaller;
    color:rgb(236, 87, 112)
}

#task-list li {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1rem;
}

